* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#headerhome {
    background-image: url(design1_image1.jpg) ;
    background-position: center;
    height: 350px;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    border-top: 5px outset #ff291a;
    border-left: 5px outset #ff291a;
    border-right: 5px outset #ff291a;
}

#headerabout {
    background-image: url(design1_image2.jpg) ;
    background-position: center;
    height: 350px;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    border-top: 5px outset #ff291a;
    border-left: 5px outset #ff291a;
    border-right: 5px outset #ff291a;
}

body{
    background-color: rgb(240, 248, 202);
}

h1 {
    padding: 13px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #95ffcd;
    display: inline;
    border-radius: 30px;
    text-shadow: 4px 2px 0px #FCFF1A;
    position:relative;
    top:290px;
    left:40px;
    transition: 10s;
    transform: translate(500px)
}


h2 {
    padding: 30px;
    font-size: 30px;
    font-family:cursive;
    color: black;
    background-color: #ffa114;
    text-shadow: 8px 8px 0px #FCFF1A; 
    text-align: center;
    display: block;
    border: 5px outset #ff291a;
    transition: 5s; 
}

#logo {
    height: 100px;
    background-color: rgb(177, 177, 177);
    border-radius: 30px;
    position:absolute;
    left: 50px;
    top: 520px;
    border: 5px solid #fbff14;
    transition: 10s;
    transform: scale(150%);
}

#boton{
    display: inline;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(64, 158, 245);
    text-decoration: none;
}

#botonhome,#botonabout,#botoncontact,#botonrules,#botongameinfo{
    display: inline;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(25, 216, 0);
    text-decoration: none;
}

nav{ 
    position:absolute;
    top: 440px;
    left: 60px;
}


#partesections {
    padding: 10px;
    margin-top: 30px;
    margin-left: 200px;
    width: 650px;
    background-color: #b9f5d9;
}

section{
    margin: 10px;
}

h3 {
    font-size: 20px;
    font-family:cursive;
    color: black;
}

#jugador {
    height:300px;
    position:absolute;
    right:30px;
    top: 500px;
    display: inline;
    border-radius: 20px;
    border: 5px solid #ffa114;
    transition: 5s;
    transform: rotate(5turn);
}

ol dt{
    font-family:sans-serif ;
    font-weight: 900;
    
}

dt {
    font-family:sans-serif ;
    

}
.sub-ol {
    list-style-type: lower-alpha;
}

.subrayado{
    text-decoration: underline solid;
}

a { 
    text-decoration: none;
}

table.greenTable {
    font-family: Georgia, serif;
    border: 6px solid #24943A;
    background-color: #D4EED1;
    width: 50%;
    text-align: center;
  }

  table.greenTable td, table.greenTable th {
    border: 1px solid #24943A;
    padding: 3px 2px;
  }

  table.greenTable thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-bottom: 0px solid #444444;
  }

  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #24943A;
  }

  
