* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#headerhome {
    background-image: url(design1_image1.jpg) ;
    background-position: center;
    height: 350px;
    padding: 10px;
    margin: 3px;
    border: 5px solid #FCFF1A;
}

#headerabout {
    background-image: url(design1_image2.jpg) ;
    background-position: center;
    height: 350px;
    padding: 10px;
    margin: 3px;
    border: 5px solid #FCFF1A;
}



h1 {
    padding: 15px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 0px #FCFF1A;
}


h2 {
    background-color: black;
    padding: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 0px #FCFF1A; 
    text-align: center;
    display: block;
}

#logo {
    height: 200px;
    background-color: rgb(177, 177, 177);
    border-radius: 30px;
    position:absolute;
    right: 200px;
    top: 290px;
    border: 10px solid #14ffa5;
}

a {
    display: block;
    margin-top: 30px;
    font-size: 20px;
}

#partesections {
    margin: 20px;
    display: inline-block;
}

#partenav {
    margin: 20px;
    display: inline-block;
}

section {
    width: 600px;
}

h3 {
    font-size: 20px;
    font-family:cursive;
    color: black;
}

#jugador {
    height:300px;
    position:absolute;
    right:100px;
    top: 500px;
    display: inline;
    border-radius: 20px;
    border: 5px solid #14ffa5;
}

